html,
.body_index {
    margin: 0;
    background-image: url(../assets/P5Redstars.gif);
    height: 100%;
}

html,
.body_cadastro {
    margin: 0;
    padding: 0;
    background-image: url(../assets/P5WhiteStars.gif);/*estrela branca */
    height: 74%;
}

@font-face {
    font-family: 'fonteP5';
    src: url(../assets/Expose-Regular.otf) format('truetype');
}

html,
.body_quiz {
    margin: 0;
    height: 100%;
}

/* INICIO HEADER/NAVBAR */
.navbar {

    width: 100%;
    height: 110px;
    background-image: url(../assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
    border-bottom: 3px solid white;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav_botoes {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}


.botoes {
    font-family: 'fonteP5';
    font-size: 30px;
    height: 80px;
    width: 180px;
    line-height: 80px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    padding-left: 20px;
    padding-right: 60px;
    text-align: center;
}

.botoes:hover {
    font-size: 35px;
}

.botoes::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('../assets/facaP5-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

.botoes:hover::after {
    opacity: 1;
}


.logo {
    height: 100px;
    width: fit-content;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo:hover {
    width: fit-content;
    padding-left: 50px;
    content: url(https://i.redd.it/gx0bs7jltgkz.gif);
}

.navbar .hello {
    width: fit-content;
    height: 100px;
    color: white;
    font-family: 'fonteP5';
    text-align: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 2px;
}

/* INICIO BODY */

.pagina {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#corpo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 99%;
    background-image: url(../Assets/P5city_day.jpg);
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}


#div_inicio {
    display: flex;
    justify-content: flex-start;
    gap: 280px;
    padding-left: 10px;
    width: 100%;
    font-family: 'fonteP5';
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.58);
    border-bottom: 2px solid white;
}

#div_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'fonteP5';
    font-size: 45px;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    background-size: cover;
}

.input {
    color: white;
    font-size: 20px;
    width: 300px;
    height: 80px;
    background-image: url(../Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    border: solid transparent;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}



.div_populares {
    height: fit-content;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.548);
}


.div_populares h1 {
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    width: 72.5%;
    font-family: 'fonteP5';
    text-align: center;
    background-image: url(../Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
}

.div_informacoes {
    height: 1000px;
    width: 100%;
    background-image: url(../assets/mementosWall.webp);
    background-size: cover;
    border-bottom: solid 2px white;
}

.card_index {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    width: 100%;
    height: 250px;
    background-image: url(../assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-size: cover;
    font-family: 'fonteP5';
    font-size: 50px;
    color: white;
    text-align: center;
}

#div_personagens {
    height: 55%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#coluna1 {
    height: max-content;
    width: 50%;
    text-align: center;
    font-family: 'fonteP5';
    font-size: 30px;
}

#coluna2 {
    height: max-content;
    width: 50%;
    font-family: 'fonteP5';
    font-size: 30px;
}

#coluna1 div,
#coluna2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div_noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_noticias h1 {
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 38.5%;
    font-family: 'fonteP5';
    text-align: center;
    background-image: url(../Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    overflow: scroll;
    scrollbar-width: 0;
}

#card_noticias {
    width: 70%;
    height: 470px;
    background-color: rgba(177, 19, 51, 0.89);
    border-radius: 10px;
    overflow-y: scroll;
    color: white;
}

#div_noticia_individual{
    text-align: center;
    height: fit-content;
    width: fit-content;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.58);
}

a{
    color: white;
}

/*FIM BODY INDEX */

/* INICIO CADASTRO*/

.div_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 110px;
    background-image: url(../Assets/P5MenuSEMFUNDO.png);
    background-size: cover;
    height: 100%;
}

#card_cadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'fonteP5';
    font-size: 40px;
    color: white;
    height: 100%;
    width: 630px;
    background-image: url(../assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-color: transparent;
    text-align: center;
}

#coluna {
    height: 80%;
    align-items: center;
    justify-content: center;
}

.div_container button {
    margin-top: 200px;
    height: fit-content;
    width: fit-content;
}

#div_carrossel {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 250px;
    overflow: scroll;
    margin-left: 20px;
}

#div_carrossel input{
    display: none;
}

.img_cadastro{
    height: 100px;
    width: 250px;
    cursor: pointer;
}

#div_img_cadastro{
    height: 120px;
    width: 250px;
    cursor: pointer;    
}

#div_selecionado{
    font-size: 35px;
}

/* FIM CADASTRO */


/* INICIO LOGIN */

.div_container_login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 110px;
    height: 100%;
    background-image: url(../Assets/loginWallSemFundo.png);
    background-size: cover;
}

.card_login {
    font-family: 'fonteP5';
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 100;
    width: 700px;
    background-image: url(../Assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    border: 3px solid white;
    border-radius: 5px;
}

/* FIM LOGIN */



/* FOOTER */
.footer {
    width: 100%;
    height: 70px;
    background-image: url(../assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 3px solid white;
    text-align: center;
    color: white;
}

.footer img {
    display: flex;
    justify-self: flex-end;
}


/* INICIO QUIZ */
/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

.container_quiz {
    padding-top: 110px;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#jogo {
    background-color: black;
    color: white;
    font-family: 'fonteP5';
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    border-radius: 10px;
}

#container_pontuacao {
    background-image: url(../assets/tvP4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-right: 80px;
}

#pontuacao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: black;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}


.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#msgFinal {
    width: 300px;
}

#btnIniciarQuiz {
    background-image: url(../assets/caixaVermelhacom!.png);
    width: 300px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 40px;
}

/* FIM QUIZ */


/* INÍCIO PÁGINA DASHBOARDS */

.container_dashboards {
    width: 100%;
    height: 90%;
    background-image: url();
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_dashboard {
    margin-top: 110px;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    background-color: rgb(236, 235, 235);
}

/* FIM DASHBOARDS */

/* CADASTRO NOTICIAS */

/* #ipt_descricao{
    
} */