html,
.body_index {
    margin: 0;
    background-image: url(Assets/P5Redstars.gif);
    height: 100%;
}

.body_cadastro {
    margin: 0;
    padding: 0;
    background-image: url(https://i.redd.it/54obu7eenrq61.gif);
    height: 100%;
}

@font-face {
    font-family: 'fonteP5';
    src: url(./Fonts/Expose-Regular.otf) format('truetype');
}

/* INICIO HEADER/NAVBAR */
.navbar {

    width: 100%;
    height: 110px;
    background-image: url(./Assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    gap: 10px;
    top: 0;
    left: 0;
}

.btNav {
    background-size: cover;
    gap: 20px;
}

.botoes {
    font-family: 'fonteP5';
    font-size: 30px;
    height: 80px;
    width: 300px;
    background-image: url(./Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.botoes:hover {
    height: 90px;
}

.logo {
    height: 100px;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.logo:hover {
    height: 110px
}

/* INICIO BODY */

.pagina {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#corpo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 99%;
    background-image: url(Assets/P5city_day.jpg);
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}


#div_inicio {
    display: flex;
    justify-content: flex-start;
    gap: 280px;
    padding-left: 10px;
    width: 100%;
    font-family: 'fonteP5';
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.58);
    border-bottom: 2px solid white;
}

#div_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-family: 'fonteP5';
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(Assets/caixaVermelha1.webp);
    background-size: cover;
}

.input {
    color: white;
    font-size: 20px;
    width: 300px;
    height: 80px;
    background-image: url(Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    text-align: center;
    border: solid transparent;
}

.div_populares {
    height: 100%;
    width: 100%;
    background-image: url(https://i.redd.it/54obu7eenrq61.gif);
    color: rgb(255, 255, 255);
}

.div_lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_lista h1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 300px;
    width: 70%;
    font-family: 'fonteP5';
    text-align: center;
    background-image: url(Assets/caixaDeTexto.png);
    background-size: cover;
    background-position: center;
}

/*FIM BODY INDEX */

/* INICIO CADASTRO*/

.div_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 110px;
    background-image: url(Assets/P5MenuSEMFUNDO.png);
    background-size: cover;
    height: 100%;
}

#card_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'fonteP5';
    font-size: 50px;
    color: white;
    height: 100%;
    width: 600px;
    background-image: url(Assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    background-color: transparent;
    text-align: center;
    border-right: 5px solid white;
}

#card_cadastro select{
    background-color: black;
}

.div_container button{
    margin-top: 85px ;
    height: 85px;
}
/* FIM CADASTRO */


/* INICIO LOGIN */

.div_container_login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 110px;
    height: 100%;
    background-image: url(Assets/loginWallSemFundo.png);
    background-size: cover;
}

.card_login {
    font-family: 'fonteP5';
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 70%;
    width: 700px;
    background-image: url(Assets/p5x_bgstar_20230301.MP4_5x_loop720P_HD.gif);
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}